* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsla(256, 91%, 66%, 1);

  background: linear-gradient(
    90deg,
    hsla(256, 91%, 66%, 1) 8%,
    hsla(190, 90%, 51%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(256, 91%, 66%, 1) 8%,
    hsla(190, 90%, 51%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(256, 91%, 66%, 1) 8%,
    hsla(190, 90%, 51%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8359F7", endColorstr="#12CFF3", GradientType=1 );
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; /*Alinhamento no eixo y, Vertical.*/
  align-items: center;/*Alinhamento no eixo x, Horinzontal.*/
}

.container {
    color: white;
    text-transform: uppercase; /*TRANSFORMAR O TEXTO EM LETRAS MAIÚSCULAS.*/
}
