*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10vw;

}

body .container{
    background: rgb(34,193,195);
     background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    box-shadow: 4vh 4vh 4vh rgba(0, 0, 0, 0.459);
    width: 70vw;
    height: 60vh;
    border-radius: 5vh;
    padding: 60px;
}
body .container h1{
    display: inline-block;
    text-align: center;
}

body .container p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vh;
    border-radius: 1vh;

}