body{
    background-color: wheat;/*Cor de fundo do body.*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
div#area {
    font: normal 20pt Arial;/*Fonte no estilo normal com tamanho de 20pt e tipo da fonte Arial.*/
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,233,175,1) 100%);/*Gradiente da div.*/
    color: white;/*Cor do texto da div.*/
    display: flex;
    justify-content: center;/*Alinhamento no eixo y, na vertical.*/
    align-items: center;/*Alinhamento no eixo x, na horizontal.*/
    border-radius: 20px;/*Arredondamento das bordas.*/
    width: 200px;/*Largura da div.*/
    height: 200px;/*Altura da div.*/
    text-align: center;/*Alinhamento do texto no centro.*/
}