* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(213, 126, 235);
  background: linear-gradient(
    315deg,
    rgba(213, 126, 235, 1) 21%,
    rgba(0, 212, 255, 1) 88%
  );
  background-repeat: no-repeat;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px 10px 20px;
  padding: 0px;
  max-width: 100%;
  height: 649px;
}

h1 {
  text-align: center;/*Título h1 da section centralizado.*/
}

.container {
  background-color: #00dbde;
  background-image: linear-gradient(180deg, #00dbde 0%, #fc00ff 100%);
  width: 50rem;
  height: 300px;
  text-align: center;
  font: 20pt normal Arial;
  box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.377); /*Sombra da section*/
  border-radius: 20px; /*Arrendondar as bordas.*/
  margin: 150px; /*Margin da div.*/
  padding: 50px; /*Padding da div.*/
}

input {
  font: normal 18pt Arial;
  border-radius: 10px;/*Borda do input(caixa para digitar os númerosa) e do input do botão (button).*/
  width: 20%;
  text-align: center;
} /*Seletor dos campos de input, Input para digitar ou aumentar ou diminuir os números e o input do botão de verificar.*/
